.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.skip-btn {
  background-color: #6c757d;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  flex: 1;
  margin-right: 10px;
}

button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  flex: 1;
}

button:disabled {
  background-color: #ccc;
}
