<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <div class="card-header bg-primary text-white text-center">
      <h2>Add Doctor</h2>
    </div>
    
    <div class="card-body">
      <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
        
        <!-- Doctor Code -->
        <div class="mb-3">
          <label class="form-label">License Number:</label>
          <input type="text" class="form-control" formControlName="doctorCode" required />
        </div>

        <!-- Name -->
        <div class="mb-3">
          <label class="form-label">Name:</label>
          <input type="text" class="form-control" formControlName="name" required />
        </div>

        <!-- Qualification -->
        <div class="mb-3">
          <label class="form-label">Qualification:</label>
          <input type="text" class="form-control" formControlName="qualification" required />
        </div>

        <!-- Department -->
        <div class="mb-3">
          <label class="form-label">Department:</label>
          <select class="form-select" formControlName="departmentId" required>
            <option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.name }}
            </option>
          </select>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
          <button type="submit" class="btn btn-success w-50" [disabled]="doctorForm.invalid">Add Doctor</button>
        </div>
        <div *ngIf="addDocError" class="alert alert-danger mt-3 animate-shake">
          Unable to delete doctor. Doctor not found.
      </div>
      </form>
      
    </div>
  </div>
</div>
