<div class="container mt-4">
  <h2 class="text-center mb-4">Departments</h2>

 <!-- Search Bar -->
 <div class="input-group mb-4 w-50 mx-auto shadow-sm">
  <span class="input-group-text bg-primary text-white">
    <i class="bi bi-search"></i> <!-- Bootstrap Icon -->
  </span>
  <input 
    type="text" 
    [(ngModel)]="searchText" 
    class="form-control" 
    placeholder="Search departments..."
  >
</div>
  
  <div *ngIf="departments.length > 0; else noData" class="row g-4">
    <div *ngFor="let department of departments | departmentFilter:searchText" class="col-md-4 col-sm-6 mb-4">
      <div class="btn-group w-100">
        <button class="btn btn-outline-primary w-100 py-4 fs-5 fw-bold" (click)="onDepartmentClick(department)">
          {{ department.name }}
        </button>
        <!-- <button class="btn btn-danger w-25 py-3" (click)="onDeleteDepartment(department)">
          🗑️
        </button> -->
      </div>
    </div>
  </div>

  <ng-template #noData>
    <p class="text-center text-muted">No departments available.</p>
  </ng-template>
</div>
